body{
    background-image: url(/images/home.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    height: 95vh;
}

.container{
    /* justify-content: center; */
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header{
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(255,59,0,1) 100%);
    color: white;
}

.text{
    background-color: whitesmoke;
    font-size: large;
}

h3{
    margin-bottom: 0;
}
