/* section img{
    background-image: url(../images/football_tactics_concept_background.jpg);
    height: 100px;
    width: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */
*{
    margin: 0;
}


.navbar-collapse{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    
}

.nav-item{
    
    font-weight: 600;
}

#hero{
    background-image: url(../images/soccer-ball-grass-with-stadium-background.jpg);
    height: 70vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* main{
    background: linear-gradient(90deg, rgba(40,38,38,1) 10%, rgba(50,46,46,1) 33%, rgba(57,53,53,1) 49%, rgba(84,84,87,0.9725140056022409) 100%);
} */

.matchButton:hover{
    background-color: orange;
}