body{
    background-image: url('/images/5618236.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
   
}

.navbar-collapse{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    
}

.nav-item{
    
    font-weight: 600;
}

footer a{
    
    color: rgb(255, 255, 255);
    font-size: large;
     
    
}