body{
    background: linear-gradient(90deg, rgba(40,38,38,1) 10%, rgba(50,46,46,1) 33%, rgba(57,53,53,1) 49%, rgba(84,84,87,0.9725140056022409) 100%);
}

header{
    background-image: url(../images/home.jpg);

    /* height: 50rem; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    background-attachment: fixed;
    /* margin-top: -8px; */
}
.navbar-collapse{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* .first-section h1{
    padding-top: 50px;
} */

/* .event{
    position: relative;
} */

.loginButton{
    background-color: rgb(28, 146, 44);
    color:  rgb(255, 255, 255);
    padding: 1rem 1rem;
    text-align: center;
    text-decoration: none;
    /* display: inline-block; */
    border: 5px solid  rgb(28, 146, 44);
    border-radius: 1rem;
    font-size: large;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    
}
.loginButton:hover{
    background-color: rgba(28, 146, 44, 0.462);
}

footer a{
    
    color: rgb(255, 255, 255);
    font-size: large;
     
    
}

/* .first-section{
    padding-bottom: 10rem;
} */