*{
    margin: 0;
}
body{
    background-image: url("background.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    background-color: rgb(2, 2, 85);
    color: white;
}

.navbar-collapse{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


