.paragraph{
    margin-left: 33%;
    width: 500px;
    height: 200px;
    color: white;
    
}
#contactpage{
    background-color: green;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
#btn {
    font-size: 1em;
    padding: 15px 35px;
    color: white;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
    background: rgb(2, 2, 101);
    border-radius: 50px;
    
}

#contact-popup{
    margin-top: 40px;
}

body {
    font-family: Arial, sans-serif;
}

body{
    background-image: url("background.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}