body{
    background-image: url("background.png");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.btn {
    background-color: rgb(2, 2, 85);
    color: white;
}



