#login { 
   background-image: url(loginImage.jpg); 
   height: 80vh; 
   background-repeat: no-repeat; 
   background-size: cover; 
   height: 100vh; 
}

#btn:hover {
   background: rgb(2, 60, 2); 
   color: white; 
}

#btn {
   width: 100%; 
   height: 45px; 
   background-color: orangered; 
   color: white; 
   border-radius: 5px; 
}

#accountCreate {
   display: flex; 
}