#login {
    background-image: url(loginImage.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
  }
#login {
    height: 100vh;
    background-color: red;
}
 #btn{
    width: 100%;
    background-color: rgb(3, 79, 3);
 }
 #accountCreate{
    display: flex;
 }